/* Variables */
:root{
    --color-fondo-secundario: rgb(8,5,16,0.4);
    --color-principal-fondo: #1D1D1D ;
    --color-principal-lateral:#383535;
    --color-texto-letra:#ffffff;
    --color-texto-trassitions:#3D8BE7;
    --fontsze-titles:40px;
    --fontsze-parrafo:25px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -webkit-pictograph;
}

.btn-partafolio{
    background: var(--color-principal #ff0099);
    font-size: var(fontsze-parrafo);
}

body{
    background: rgb(255, 255, 255);
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
}

#fase-home1{
    width: 100%;
    height: auto;
}

/* Barra de navegacio */
.navbar-cont{
    background: linear-gradient(to right,rgba(21, 119, 247, 0.60), rgba(37, 25, 169, 0.24));
}
.nav-btn-home{
    position: relative;
    left: 700px;
    background: linear-gradient(to bottom,rgb(88, 100, 215), rgba(119, 188, 251, 1));
    border-radius: 20px;
    margin-right: 15px;
}
.nav-btn-home2{
    position: relative;
    right: 50px;
}
.nav-btn-home3{
    color: #000000;
    border: rgb(0, 0, 0) solid 1px;
    background: linear-gradient(to bottom,rgb(88, 100, 215), rgba(119, 188, 251, 1));
}
/* Parte de inicio de informacion home */
.background-image {
    background-image: url('../img/home2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 215px; /* Ajusta la altura a la altura de fondo home1 */
}
.inf-home1{
    display: flex;
} 
.inf-home1-tex1{
    position: relative;
    top: 50px;
    right: 150px;
}
.home-carusel img{
    width: 90%;
    height: auto;
    position: relative;
    border-radius: 0px;
    margin-top: 15px;
}
#prom-slider{
    width: 70%;
    height: 350px;
    background: rgb(0, 81, 255);
    margin: 0 auto;
    position: relative;
    top: 0px;
}
.prom-day{
    width: 20%;
    height: 350px;
    background: red;
    text-align: center;
    position: relative;
    right: 250px;
}
.prom-day h1{
    margin-top: 35%;
}

/* Promociones del dia carrusel */
.h-promo-bak{
    width: 80%;
    height: 389px;
    background: linear-gradient(to right,rgb(88, 100, 215), rgba(119, 188, 251, 1));
    margin: 60px auto;
    position: relative;
    padding: 5px 0;
    border-radius: 20px;

    /* prueva organizacion*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.h-promo-header{
    width: 98%;
    height: 31px;
    margin: 0 auto;
    /* background: gray; */
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    /* border-bottom: 2px solid #ddd; */
    flex-direction: row-reverse;
}
.h-promo-header h2{
    display: none;
}
.h-promo-header .h-mover{
    font-size: 40px;
    margin: 0 5px;
    cursor: pointer;
    color: #555;
     width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 19px;
    text-align: center;
    border-radius: 3px;
}
.h-promo-header .h-mover:hover{
    background: #222;
    color: white;
}
.h-promo-header p{
    margin-top: 18px;
}
/* Deals of the day */
.h-time-promo{
    width: 19%;
    height: 60%;
    position: relative;
    left: 60px;
    top: 30px;
    /* background: rgb(0, 255, 13); */
}
.h-time-promo h1{
    margin-top: 40px;
    text-align: center;
    font-size: 55px;
}
.h-time-promo p{
    text-align: center;
    font-size: 25px;
}
.h-promo-productos{
    width: 75%;
    height: 350px;
    /* background: rgb(89, 0, 255); */
    margin: auto;
    display: flex;
    align-items: center;
    overflow-x: auto;

    margin-right: 15px;
}
.h-promo-productos::-webkit-scrollbar{
    display: none;
}
.h-promo-productos .product{
    min-width: 24%;
    height: 90%;
    background: whitesmoke;
    margin:  0 15px  0 0;
    border-radius: 20px;
    position: relative;
    left: 0;
    transition: 0.5s;
}
picture{
    width: 100%;
    height: 70%;
    padding: 10px;
    /*background: green;*/
    display: flex;
    overflow: hidden;
    margin-bottom: 5px;
}
picture img{
    width: 100%;
}
.detail, .button{
    width: 90%;
    /*background: red;*/
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: 20px;
    color: #444;
}
small{color: #555;}

.star{
    margin: 0px auto;
    width: 65%;
    font-size: 15px;
    color: #808080;
}
@media (max-width: 820px) {
    .text h1{
        font-size: 35px;
    }
    .text p{
        width: 90%;
    }
    .h-promo-header h1{
        font-size: 25px;
    }
    .h-promo-header .h-mover{
        font-size: 30px;
    }
    .h-promo-productos .product {
        min-width: 49%;
        margin:  0 10px  0 0;
    }
    .detail, .button{
        font-size: 16px;
    }
    a{
        padding: 6px 10px;
    }
}


/* Todos los Productos que hay */
#home-product{
    width: 100%;
    height: 500px;
    background: rgb(146 180 241);
    margin: 0 auto;
    margin-top: 7%;
    display: flex; 
}
.h-pro-detalle{
    width:425px;
    height: 400px;
    background: rgb(255, 255, 255);
    margin-top: 20px;
    flex-wrap: nowrap;
    margin-left: 40px;
    border-radius: 20px;
}
.picture-detalle{
    width: 100%;
    height: 60%;
    padding: 10px;
    /* background: green; */
    display: flex;
    overflow: hidden;
    margin-bottom: 0;
}
.picture-detalle img{
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}
.product-disponible-1{
    width: 100%;
    height: 145px;
}
.product-disponible-1 h2{
    text-align: center;
}
.product-disponible-1 p{
    text-align: center;
}

.star-precio{
    width: 80%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.starBi{
    font-size: 20px;
    color: #bbb;
    transition: color 0.4;
    cursor: pointer;
    margin-right: 3px;
}
.starBi:hover, .starBi.checked {
    color: gold;
}
.star-precio p{
    font-size: 20px;
    margin-left: 50px;
}

/* La parte final foorter ///////////////////////////////////////////////////////////////////////////////*/
#footer-final{
    background-image: url('../img/footer-bak.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px; /* Ajusta la altura a la altura de fondo img*/

    display: flex;
}
.footer-pagos{
    width: 25%;
    height: 190px;
    position: relative;
    top: 57.7%;
    left: 50px;
    background: rgba(255, 255, 255, 0.473);
    border-radius: 90px 90px 0 0;
    text-align: center;
}
.footer-pagos img{
    margin-left: 10px;
}
.footer-pagos h3{
    position: relative;
    top: 12px;
}
.footer-redes{
    width: 22%;
    height: 210px;
    position: relative;
    top: 53.3%;
    left: 270px;
    background: rgba(255, 255, 255, 0.473);
    border-radius: 90px 90px 0 0;
    text-align: center;
}
.footer-redes h3{
    position: relative;
    top: 12px;
}
.footer-redes img{
    margin-top: 22px;
    margin-left: 20px;
}
.footer-mapa{
    width: 22%;
    height: 300px;
    position: relative;
    top: 30%;
    left: 540px;
    background: rgba(255, 255, 255, 0.473);
    border-radius: 150px 150px 150px 150px;
    text-align: center;
}
.footer-mapa img{
    width: 75%;
}
/* SMARTPHONE _ */
@media screen and (min-width:320px) and (max-width:600px){
    .nav-btn-home{
        position: relative;
        left: 10px;
        text-align: center;
    }
    .nav-btn-home2{
        position: relative;
        right: 0px;
    }
    .navbar-brand img{
        width: 80%;
    }
     /* Parte de inicio de informacion home */
    .inf-home1{
        display: contents;
    }
    .inf-home1-tex1{
        text-align: center ;
        margin-left: 20px;
        margin-right: 20px;
        position: relative;
        top: 17px;
        right: 0px;
    }
    .home-carusel img{
        width: 90%;
        height: auto;
        top: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }
    /* Las Promociones del day */
    .h-time-promo{
        display: none;
    }
    .h-promo-bak{
        width: 100%;
        height: 350px;
        margin-top: 100px;
    }
    .h-promo-header{
        margin-top: 4px;
    }
    .h-promo-header h2{
        display: flex;
        text-align: center;
        font-size: 22px;
    }
    .h-promo-productos{
        width: 100%;
        height: 300px;
        margin-right: 10px;
        margin-left: 10px;
    }
    /* Section de los productos que hay  */
    #home-product{
        width: 100%;
        height: 110rem;
    }
    #home-product h2{
        text-align: center;
    }
    .h-pro-detalle{
        width:361px;
        height: 400px;
        margin-top: 20px;
        margin-left: 17px;
    }
    /* Footer Diseño final de la pagina////////////////////////////////////////////////////// */
    #footer-final{
        height: 850px;
        margin-top: -200px;
        flex-wrap: wrap;
    }
    .footer-pagos{
        width: 95%;
        height: 120px;
        left: 0;
        margin: -164px 10px 0px 10px; /* top right bottom left */
        border-radius: 90px 90px 90px 90px;
    } 
    .footer-pagos img{
        width: 17%;
        margin-left: 0px;
    }
    .footer-pagos h3{
        top: 6px;
    }
    .footer-pagos br{
        display: none;
    }
    .footer-redes{
        width: 95%;
        height: 120px;
        left: 0;
        margin: -277px 10px 0px 10px;/* top right bottom left */
        border-radius: 90px 90px 90px 90px;
    }
    .footer-redes img{
        width: 17%;
        margin-top: 3px;
        margin-left: 0px;
    }
    .footer-redes h3{
        top: 6px;
    }
    .footer-redes br{
        display: none;
    }
    .footer-mapa{
        width: 95%;
        height: 225px;
        left: 0;
        margin: -230px 10px 0px 10px; /* top right bottom left */
        border-radius: 90px 90px 90px 90px;
    }
    .footer-mapa br{
        display: none;
    }

}

/* tabled*/
@media screen and (min-width:768px) and (max-width:990px){
    .nav-btn-home{
        position: relative;
        left: 10px;
        text-align: center;
    }
    .nav-btn-home2{
        position: relative;
        right: 0px;
    }
    /* /* Parte de inicio de informacion home */
    .inf-home1-tex1{
        position: relative;
        top: 0px;
        right: 0px;
    }
    .home-carusel img{
        width: 100%;
    }
    /* Todo Descuentos del Day */
    .h-promo-bak{
        width: 100%;
        margin-top: 0;
    }
    .h-time-promo{
        width: 23%;
        height: 56%;
        left: 17px;
    }
    .h-time-promo h1{
        font-size: 37px;
    }
    .h-promo-productos{
        width: 72%;
        height: 90%;
    }
    /* Section de los productos que hay  */
    #home-product{
        width: 100%;
        height: 58rem;
    }
    #home-product h2{
        text-align: center;
    }
    .h-pro-detalle{
        width:361px;
        height: 400px;
        margin-top: 20px;
        margin-left: 18px;
    }
    /* Footer Diseño final de la pagina////////////////////////////////////////////////////// */
    #footer-final{
        height: 784px;
        margin-top: -173px;
        flex-wrap: wrap;
    }
    .footer-pagos{
        width: 47%;
        height: 120px;
        left: 0;
        margin: -107px 10px 0px 18px; /* top right bottom left */
        border-radius: 90px 90px 90px 90px;
    } 
    .footer-pagos img{
        width: 17%;
        margin-left: 0px;
    }
    .footer-pagos h3{
        top: 6px;
    }
    .footer-pagos br{
        display: none;
    }
    .footer-redes{
        width: 44%;
        height: 120px;
        left: 0;
        margin: -73px 10px 0px 20px;/* top right bottom left */
        border-radius: 90px 90px 90px 90px;
    }
    .footer-redes img{
        width: 17%;
        margin-top: 3px;
        margin-left: 0px;
    }
    .footer-redes h3{
        top: 6px;
    }
    .footer-redes br{
        display: none;
    }
    .footer-mapa{
        width: 58%;
        height: 240px;
        left: 0;
        margin: -71px 3px -4px 170px; /* top right bottom left */
        border-radius: 90px 90px 90px 90px;
    }
    .footer-mapa img{
        width: 70%;
    }
    .footer-mapa br{
        display: none;
    }


}

/* No tocar solo W */
/*Navegador pa table responsil  Ipad PRO*/
@media screen and (min-width:1020px) and (max-width:1336px){
    .nav-btn-home{
        position: relative;
        left: 0px;
        text-align: center;
    }
    .nav-btn-home2{
        position: relative;
        right: 0px;
    }
    .inf-home1-tex1 {
        right: 10px;
    }
    .home-carusel img{
        width: 100%;
    }
    /* Descuentos del day */
    .h-promo-header h2 {
        margin-top: 12px;
    }
    .h-promo-bak{
        width: 90%;
        margin-top: 10px;
    }
    .h-promo-header h2{
        display: flex;
    }
    .h-time-promo{
        display: none;
    }
    .h-promo-productos{
        width: 98%;
        margin-left: 15px;
    }
    /* Section de los productos que hay  */
    #home-product{
        width: 100%;
        height: 67rem;
    }
    #home-product h2{
        text-align: center;
    }
    .h-pro-detalle{
        height: 450px;
        margin-top: 40px;
        margin-left: 50px;
    }






        /* Footer Diseño final de la pagina////////////////////////////////////////////////////// */
        #footer-final{
            height: 828px;
            margin-top: -173px;
            flex-wrap: wrap;
        }
        .footer-pagos{
            width: 47%;
            height: 140px;
            left: 0;
            margin: -107px 10px 0px 30px; /* top right bottom left */
            border-radius: 90px 90px 90px 90px;
        } 
        .footer-pagos img{
            width: 17%;
            margin-left: 17px;
        }
        .footer-pagos h3{
            top: 6px;
        }
        .footer-pagos br{
            display: none;
        }
        .footer-redes{
            width: 44%;
            height: 140px;
            left: 0;
            margin: -73px 10px 0px 20px;/* top right bottom left */
            border-radius: 90px 90px 90px 90px;
        }
        .footer-redes img{
            width: 17%;
            margin-top: 4px;
            margin-left: 30px;
        }
        .footer-redes h3{
            top: 6px;
        }
        .footer-redes br{
            display: none;
        }
        .footer-mapa{
            width: 46%;
            height: 268px;
            left: 0;
            margin: -71px 3px -4px 289px; /* top right bottom left */
            border-radius: 90px 90px 90px 90px;
        }
        .footer-mapa img{
            width: 78%;
        }
        .footer-mapa br{
            display: none;
        }
    









}